@font-face {
    font-family: "Eng";
    src: url("/src/assets/fonts/DMSans.ttf");
  }
  
@font-face {
    font-family: "Thai";
    src: url("/src/assets/fonts/NotoSansThai.ttf");
  }

:root {
    --darkblue: #004262;
    --blue: #005A85;
    --lightblue: #007AB5;
    --lightgrey: #D9D9D9;
    --white: #F6F6F6;
    --grey:  #E6E6E6;
    --yellow: #FFC12D;
    display: flex;

   
}


  
body {
    min-width: 500px;
    display: flex;
    flex-direction: row;
    margin: 0px;
  }

h1 {
    font-family: "Eng";
    font-size: 15px;
    font-weight: 400;
    color: black;
}

h4 {
  font-family: "Eng";
  font-size: 18px;
  font-weight: 500;
  color: black;
}

h2 {
    font-family: "Eng";
    font-size: 18px;
    font-weight: 300;
    color: var(--lightgrey);
}

h3 {
  font-family: "Eng";
  font-size: 22px;
  font-weight: 400;
  color: var(--white);
}

ul {
  list-style-type: none;
 padding:0;

}

li {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

hr {
background-color: var(--lightgrey);
  height: .5px;
  width: 95%;
  margin: 20px 0px;
  border: .5px solid var(--lightgrey);
}

input[type="text"] {

  font-family: "Eng";
  font-weight: 300;
  padding-left: 5px;
  outline: none;
  background-color: var(--white);
  width: 95%;
  border: 1px solid var(--lightgrey);
  border-radius: 2px;
}